.karla {
  font-family: "Karla", sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.game-font {
  font-family: 'Press Start 2P', sans-serif;
}

.hero {
    background-image: url('/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.credits-hero {
    background-image: url('/cornerbike.webp');
    background-position: center;
    background-repeat: no-repeat;
}

.image-404 {
  background-image: url('/backgroundnf.jpg');
  background-position: center;
  background-repeat: no-repeat;
}